PROJECT1/pelamar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="pelamar" type="data"/>
    <xs:complexType name="data">
        <xs:sequence>
            <xs:element name="datapelamar" type="pelamardata" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="pelamardata">
        <xs:sequence>
            <xs:element name="nama" type="xs:string"/>
            <xs:element name="email" type="xs:string" />
            <xs:element name="address" type="xs:string" />
        </xs:sequence>  
    </xs:complexType>
</xs:schema>
